[asgard]---backup-base-QIAtkizztc34yAhO.json
{"updatedAt":"2025-12-08T18:32:19.891Z","createdAt":"2024-11-02T12:36:44.752Z","id":"QIAtkizztc34yAhO","name":"[ASGARD] - BACKUP BASE","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":940898214,"mode":"list","cachedResultName":"BD ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=940898214"},"filtersUI":{"values":[{"lookupColumn":"STATUS"}]},"options":{}},"id":"6e70c7b9-2bbe-465a-96cf-3cd2c4d13cea","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,432],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"operation":"create","databaseId":8,"tableId":328,"dataToSend":"autoMapInputData"},"id":"e63eafac-32ae-4a1e-b11e-3a5507da87d9","name":"Baserow","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1024,448],"credentials":{"baserowApi":{"id":"1lfKifiiEUi4Wr6a","name":"BASEROW JAMIL"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA","mode":"list","cachedResultName":"DASHBOARD ASGARD - DONALD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":940898214,"mode":"list","cachedResultName":"BD ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-mexSR4ysZ50sQ78K3jICZEJDAT79AIMTH4X6IZ-xLA/edit#gid=940898214"},"columns":{"mappingMode":"defineBelow","value":{"bo_user_email":"={{ $json.bo_user_email }}","STATUS":"OK"},"matchingColumns":["bo_user_email"],"schema":[{"id":"affiliate_id","displayName":"affiliate_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"affiliate_name","displayName":"affiliate_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bo_user_email","displayName":"bo_user_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data cadastro","displayName":"Data cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"parent_affiliate_name","displayName":"parent_affiliate_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registrations","displayName":"Registrations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FTDs","displayName":"FTDs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FTDs Total","displayName":"FTDs Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deposits","displayName":"Deposits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deposits amount","displayName":"Deposits amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RevShare","displayName":"RevShare","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Payments","displayName":"Payments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DEPOSITOS TOTAIS","displayName":"DEPOSITOS TOTAIS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REVSHARE OK","displayName":"REVSHARE OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PAGAMENTO","displayName":"PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO EDITADO","displayName":"NUMERO EDITADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TOTAL DE AFILIADOS","displayName":"TOTAL DE AFILIADOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTROS","displayName":"REGISTROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FTDS","displayName":"FTDS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QUANTIDADE DEPOSITOS","displayName":"QUANTIDADE DEPOSITOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TOTAL DEPOSITOS","displayName":"TOTAL DEPOSITOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REVSHARE","displayName":"REVSHARE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PAGAMENTOS","displayName":"PAGAMENTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"d1864c0b-e668-4011-88d0-9262a4800244","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,448],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"amount":3},"id":"58cd3db0-0e41-4cbb-870b-8d93b111351c","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,448],"webhookId":"de230eab-7d2b-4b32-a11b-51438d7c476d"},{"parameters":{"options":{}},"id":"37391b16-6094-47d3-817b-86755b56fdc6","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,432]},{"parameters":{"documentId":{"__rl":true,"value":"1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY","mode":"list","cachedResultName":"BASE N8N - ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":575305865,"mode":"list","cachedResultName":"DADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit#gid=575305865"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"SERIAL_NUMBER"}}}},"id":"8cead8b8-e21f-4a1a-8ad8-e49701b1d3bd","name":"RECEBER_DADOS","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[592,-416],"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"assignments":{"assignments":[{"id":"f75d2df3-a6c2-49f4-8131-6754d2257973","name":"VALOR_HOJE","value":"={{ $('SALVAR VALOR E DATA DEP.').item.json.VALOR }}","type":"string"},{"id":"c5242a11-bb46-4992-b92a-6198f1b83224","name":"VALOR_ONTEM","value":"={{ $json.VALOR }}","type":"string"}]},"options":{}},"id":"8a12a78d-7536-4a5a-a38f-ba147423248e","name":"VALOR","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,-96]},{"parameters":{"content":"## SALVA BACKUP NO DOS AFILIADOS NO BASEROW","height":433.2899921197796,"width":1213.6746325823856,"color":7},"id":"9303b052-fec8-46bb-b8ee-06052b284cfd","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,224]},{"parameters":{"content":"## ENVIA NO GRUPO O RELATORIO","height":383.3333333333336,"width":1218.4813622535592},"id":"8a8697e1-43f0-487b-8348-da064e5d40b2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,-208]},{"parameters":{"content":"## START E DADOS API DE ENVIO","height":383.3333333333336,"width":483.65036695940887,"color":3},"id":"3c2b13c5-9b9f-40b2-af3a-0c9c60455d68","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-48]},{"parameters":{"content":"## SALVA SALDO DO DIA","height":379.7412288300576,"width":1004.869976359338,"color":4},"id":"b9604df9-f751-4c64-93cd-21406011b564","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,-592]},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://whatsapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ASGARDACADEMY","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"b4d71f9c38e3ac12a6b08e4b6d53aa90","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"grupo","value":"120363319311443540@g.us","type":"string"}]},"options":{}},"id":"900fcc29-c5f5-480f-a825-745d6dd70ed8","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,112]},{"parameters":{"jsCode":"// Obtém os valores das variáveis VALOR_HOJE e VALOR_ONTEM diretamente do JSON de entrada\nlet valorHoje = $input.item.json.VALOR_HOJE;\nlet valorOntem = $input.item.json.VALOR_ONTEM;\n\n// Remove o símbolo de moeda e os separadores de milhares e converte para número\nvalorHoje = parseFloat(valorHoje.replace(/[R$\\.\\s]/g, '').replace(',', '.'));\nvalorOntem = parseFloat(valorOntem.replace(/[R$\\.\\s]/g, '').replace(',', '.'));\n\n// Verifica se a conversão foi bem-sucedida\nif (isNaN(valorHoje) || isNaN(valorOntem)) {\n  throw new Error(\"Não foi possível converter VALOR_HOJE ou VALOR_ONTEM para número.\");\n}\n\n// Calcula a diferença\nlet diferenca = valorHoje - valorOntem;\n\n// Formata a diferença como moeda brasileira\nlet diferencaFormatada = diferenca.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });\n\n// Retorna o valor da diferença formatado\nreturn {\n  json: {\n    diferenca: diferencaFormatada\n  }\n};\n"},"id":"e3488663-8515-429b-8a25-38bcd0ce93ca","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,-96]},{"parameters":{"jsCode":"// Obtém a data atual\nlet dataAtual = new Date();\n\n// Define os nomes dos dias e meses\nconst diasDaSemana = [\"domingo\", \"segunda-feira\", \"terça-feira\", \"quarta-feira\", \"quinta-feira\", \"sexta-feira\", \"sábado\"];\nconst mesesDoAno = [\"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\", \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"];\n\n// Extrai dia, mês e ano\nlet diaSemana = diasDaSemana[dataAtual.getDay()];\nlet dia = String(dataAtual.getDate()).padStart(2, '0');\nlet mes = String(dataAtual.getMonth() + 1).padStart(2, '0');\nlet ano = dataAtual.getFullYear();\n\n// Formata a data no formato desejado\nlet dataFormatada = `${diaSemana}, ${dia}/${mes}/${ano}`;\n\n// Retorna o resultado\nreturn {\n  json: {\n    dataFormatada: dataFormatada\n  }\n};\n"},"id":"b61282bd-2189-4c9c-8c15-b897ec4e4c68","name":"HOJE","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,-416]},{"parameters":{},"id":"1ad5240b-c45a-4f7d-aa55-f3040c76b08f","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,288]},{"parameters":{"assignments":{"assignments":[{"id":"161fff96-3d6c-4034-8731-624c9eeb6e66","name":"baseUrl","value":"https://evolutionapi.typebot.pro","type":"string"},{"id":"8d2830bb-ce95-4da1-9dca-08971b8fb34f","name":"instance","value":"ASGARDBOT","type":"string"},{"id":"51881eee-506d-4aba-9d93-b1a41de04920","name":"globalApikey","value":"LaaxXSXdg1O0HgOSIr63aznmp6kwwkSi1Gt7GYDNSr7r54NdrqixvVpTTPmWNDPMcmU2veJPtwvdUELlK1ZzcceT89IiZ2cABTk9mvZNp8vWPWQuIMWP3AjFgPrcqfYi","type":"string"},{"id":"8c3b2f9e-b27c-4f06-b4ac-c66c786f6b0a","name":"apikey","value":"9q88a5s7f2bicf46q6qb8","type":"string"},{"id":"f0739076-cf04-4ea1-b802-b7f672f2aea2","name":"grupo","value":"120363319311443540@g.us","type":"string"},{"id":"3e9efc16-6c37-402f-9f5a-14cff195a600","name":"data","value":"","type":"string"}]},"options":{}},"id":"731dd534-4068-427e-ba31-f2e4cc904afb","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,400]},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.baseUrl }}/message/sendText/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Edit Fields').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.grupo }}\",\n    \"options\": {\n        \"delay\": 1200,\n        \"presence\": \"composing\",\n        \"mentions\": {\n            \"everyOne\": false\n        }\n    },\n    \"textMessage\": {\n        \"text\": \"{{ $('FORMATAR MSG1').item.json.MENSAGEM }}\"\n    }\n}","options":{}},"id":"8f2f4bb7-0a39-4a06-a56f-e9260041ed9e","name":"ENVIAR NO GRUPO DADOS2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,-400]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY","mode":"list","cachedResultName":"BASE N8N - ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1644044357,"mode":"list","cachedResultName":"DEPOSITOS TOTAIS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit#gid=1644044357"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $('HOJE').item.json.dataFormatada }}","VALOR":"={{ $('RECEBER_DADOS').item.json['TOTAL DEPOSITOS'] }}"},"matchingColumns":["DATA"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"db8d0a21-a7b2-4fca-a8f4-c2a8db308d41","name":"SALVAR VALOR E DATA DEP.","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1040,-416],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.baseUrl }}/message/sendText/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Edit Fields').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.grupo }}\",\n    \"text\": \"BACKUP FEITO COM SUCESSO. NOVOS AFILIADOS SALVOS NA BASE DE DADOS\"\n}\n\n","options":{}},"id":"5f741e99-d698-4021-935f-aacd81d50cdb","name":"ENVIAR MSG GRUPO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,288],"executeOnce":true},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"091b3243-0bc4-4fb7-a9e7-4263a4bf22c2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[48,112]},{"parameters":{"method":"POST","url":"={{ $('Edit Fields').item.json.baseUrl }}/message/sendText/{{ $('Edit Fields').item.json.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Edit Fields').item.json.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Edit Fields').item.json.grupo }}\",\n    \"text\": \"{{ $('FORMATAR MSG1').item.json.MENSAGEM }}\"\n}","options":{}},"id":"c4ddd827-b960-44f7-bc41-58dd4a9ff5f1","name":"ENVIAR NO GRUPO DADOS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1232,32],"retryOnFail":true,"waitBetweenTries":2000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"ebca8dc3-daee-4e6c-945d-038a59c8c9b0","name":"=MENSAGEM","value":"=✨ *RELATORIO TEAM ASGARD* ✨\\nDATA:{{ $('HOJE').item.json.dataFormatada }} \\nN. DE AFILIADOS: {{ $('RECEBER_DADOS').item.json['TOTAL DE AFILIADOS'] }}\\nQUANT. FTDs: {{ $('RECEBER_DADOS').item.json.FTDS }}\\nQUANT. DE DEPOSITOS: {{ $('RECEBER_DADOS').item.json['QUANTIDADE DEPOSITOS'] }}\\nTOTAL DE DEPOSITOS: {{ $('RECEBER_DADOS').item.json['TOTAL DEPOSITOS'] }}\\nTOTAL DEP. 24HRS: {{ $json.diferenca }}\\nREV T. AFILIADOS: {{ $('RECEBER_DADOS').item.json.REVSHARE }}\\nREGISTROS: {{ $('RECEBER_DADOS').item.json.REGISTROS }}\\nPAGAMENTOS TOTAL: {{ $('RECEBER_DADOS').item.json.PAGAMENTOS }}","type":"string"}]},"options":{}},"id":"9e1b4e96-7c11-4359-9eb0-72e914a7a5d1","name":"FORMATAR MSG1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,-160]},{"parameters":{"jsCode":"// Obtém a data atual e subtrai um dia\nlet dataAtual = new Date();\ndataAtual.setDate(dataAtual.getDate() - 1);\n\n// Define os nomes dos dias e meses\nconst diasDaSemana = [\"domingo\", \"segunda-feira\", \"terça-feira\", \"quarta-feira\", \"quinta-feira\", \"sexta-feira\", \"sábado\"];\nconst mesesDoAno = [\"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\", \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"];\n\n// Extrai dia da semana, dia, mês e ano\nlet diaSemana = diasDaSemana[dataAtual.getDay()];\nlet dia = String(dataAtual.getDate()).padStart(2, '0'); // Adiciona o zero se necessário\nlet mes = String(dataAtual.getMonth() + 1).padStart(2, '0'); // Mantém o zero no mês\nlet ano = dataAtual.getFullYear();\n\n// Formata a data no formato desejado\nlet dataFormatada = `${diaSemana}, ${dia}/${mes}/${ano}`;\n\n// Retorna o resultado\nreturn {\n  json: {\n    dataFormatada: dataFormatada\n  }\n};\n"},"id":"0348ac96-5957-4246-a558-1a0c8a23814b","name":"DIA ANTERIOR","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-416]},{"parameters":{"documentId":{"__rl":true,"value":"1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY","mode":"list","cachedResultName":"BASE N8N - ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1644044357,"mode":"list","cachedResultName":"DEPOSITOS TOTAIS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit#gid=1644044357"},"filtersUI":{"values":[{"lookupColumn":"DATA","lookupValue":"={{ $json.dataFormatada }}"}]},"options":{}},"id":"d24ff2f8-be57-464b-b51c-4faa4faa4f97","name":"CAPTURA VALOR DO DIA","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[608,-96],"notesInFlow":false,"alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY","mode":"list","cachedResultName":"BASE N8N - ASGARD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1644044357,"mode":"list","cachedResultName":"DEPOSITOS TOTAIS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N8aFOb1yY0TysfNZ7JE8qmPT4qErA_NyjIgmFA0VYzY/edit#gid=1644044357"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $('CAPTURA VALOR DO DIA').item.json.DATA }}","TOTAL DO DIA":"={{ $('Code1').item.json.diferenca }}","MSG ENVIADA":"={{ $json.MENSAGEM }}"},"matchingColumns":["DATA"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"TOTAL DO DIA","displayName":"TOTAL DO DIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MSG ENVIADA","displayName":"MSG ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"id":"a1b8ff53-4af5-40be-b36d-65660b0dfdda","name":"SALVAR DEP NA PLANILHA","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1440,-160],"credentials":{"googleSheetsOAuth2Api":{"id":"c1hmUtfYiP5FWVBk","name":"GOOGLE JAMIL"}}},{"parameters":{"method":"POST","url":"https://notify.typebot.pro/SANTOBET","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"ERRO FLUXO BACKUP ASGARD"}]},"sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"ERRO AO ENVIAR MENSAGEM BACKUP ASGARD - CONFERIR WHATSAPP","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,48],"id":"ca1ba3fe-9b26-46d6-a545-f6b84310b6c7","name":"NOTIFY CADASTRO","retryOnFail":false,"waitBetweenTries":3000,"onError":"continueRegularOutput"}],"connections":{"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Baserow":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"ENVIAR MSG GRUPO","type":"main","index":0}],[{"node":"Baserow","type":"main","index":0}]]},"RECEBER_DADOS":{"main":[[{"node":"HOJE","type":"main","index":0}]]},"VALOR":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RECEBER_DADOS","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Code1":{"main":[[{"node":"FORMATAR MSG1","type":"main","index":0}]]},"HOJE":{"main":[[{"node":"SALVAR VALOR E DATA DEP.","type":"main","index":0}]]},"SALVAR VALOR E DATA DEP.":{"main":[[{"node":"DIA ANTERIOR","type":"main","index":0}]]},"ENVIAR MSG GRUPO":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ENVIAR NO GRUPO DADOS":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"NOTIFY CADASTRO","type":"main","index":0}]]},"FORMATAR MSG1":{"main":[[{"node":"SALVAR DEP NA PLANILHA","type":"main","index":0}]]},"DIA ANTERIOR":{"main":[[{"node":"CAPTURA VALOR DO DIA","type":"main","index":0}]]},"CAPTURA VALOR DO DIA":{"main":[[{"node":"VALOR","type":"main","index":0}]]},"SALVAR DEP NA PLANILHA":{"main":[[{"node":"ENVIAR NO GRUPO DADOS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveDataSuccessExecution":"all"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8555591-0d12-42c8-a11f-b905f5c76665","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2024-11-02T12:36:44.752Z","createdAt":"2024-11-02T12:36:44.752Z","role":"workflow:owner","workflowId":"QIAtkizztc34yAhO","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":null,"tags":[{"updatedAt":"2025-03-06T17:19:14.031Z","createdAt":"2025-03-06T17:19:14.031Z","id":"z7vkfLoV8EupbcdS","name":"ASGARD"}]}