lead20-ope-salinas-jsOLZzrMSGPn64kA.json
{"updatedAt":"2025-12-08T21:48:08.956Z","createdAt":"2025-11-28T21:35:46.964Z","id":"jsOLZzrMSGPn64kA","name":"LEAD20-OPE-SALINAS","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"LEAD20-OP-SALINAS","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1424,1360],"id":"5754af50-38b3-49d7-915e-5e88b843161a","name":"Webhook1","webhookId":"d57dadc6-62a2-49d5-a719-42f8e18d2c84"},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-1232,1632],"typeVersion":1,"id":"94b40e06-4443-4be0-ba9b-bbef09ee52b6","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sem nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"760361aa-224e-403f-80b8-00884bb9436c","leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJidAlt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8afd39ad-83f2-4545-a4c1-d77e594f264f","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJid"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,1488],"id":"0acac7c6-9bff-4950-93a5-ece1b4012585","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1360],"id":"a1952f7b-1dd7-40b8-8c95-5878d0ea1576","name":"msg propria2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJidAlt.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1504],"id":"95e03a36-ca7d-4719-9d6c-37ab52d7c942","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,1344],"id":"276fcefe-d00b-4eb8-a7af-dcdfc1f18751","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $('buscar lead').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('buscar lead').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('buscar lead').item.json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1408],"id":"cc5b957c-0c61-4fe2-90cf-f691f7027a48","name":"HTTP Request5","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1424],"id":"f49f9f24-a56b-43fc-aaef-7d6b55234020","name":"HTTP Request6","retryOnFail":true,"waitBetweenTries":4000,"onError":"continueErrorOutput"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,1408],"id":"2c2c6b87-4c3d-40a0-a4e7-fd9cd1c19eaa","name":"Wait3","webhookId":"1e52089f-f012-4dd7-b266-c5ffc111e73c"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":1040,"width":3392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1264,1296],"typeVersion":1,"id":"926dbdab-4130-4fd0-9b3c-5b5b4cd95fb6","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,1712],"id":"1faa390c-cf02-49b1-b182-54bee87274ec","name":"No Operation, do nothing6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields6').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1728,1408],"id":"7bed0b78-4beb-492a-b663-b644f7b6b8c2","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,1632],"id":"dde1c297-d4e7-4d15-a3d0-e8a99b15b36b","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('buscar lead').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1424],"id":"c7fa236e-1f26-4b3f-aeda-72125c33a8e4","name":"Edit Fields6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"074be921-161b-485b-80df-1c8e8511f2dd","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA FOI DIRECIONADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b06466d1-d8ea-48db-99de-5779af9b1f18","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"LEAD SALVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD JA SALVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,1552],"id":"35c0a26f-8adf-43ab-95ad-d45e6c02badd","name":"Switch4"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5521975342163@s.whatsapp.net"},{"name":"text","value":"=📊 RELATÓRIO DIÁRIO – SALINAS\n\n📅 Data do relatório:\n{{ new Date().toLocaleDateString(\"pt-BR\") }}\n\n📈 Total de leads processados hoje:\n🔹 {{ $json.count_NUMERO }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,1968],"id":"4a1a4c55-936b-452a-9237-1c18cf16e46d","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,1984],"id":"af7d3e8a-9a0f-4f69-aed3-adb49009a781","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d47ecbe-b731-4d75-a5d0-04ec1f797bcb","leftValue":"={{ $json['DATA/HORA'].split(',')[0].trim() }}","rightValue":"={{ new Date().toLocaleDateString(\"pt-BR\") }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,1984],"id":"0d06caa7-df67-42f0-a799-bc73a1ceb8f0","name":"If"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"NUMERO"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-544,1968],"id":"2249ae6a-6859-4f8b-8a7c-4cc8d24b1f97","name":"Summarize"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,2128],"id":"2f854ec8-6390-4767-b348-445ad591b321","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":23,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1152,1984],"id":"65099230-3353-4720-8572-9344909f5707","name":"Schedule Trigger"},{"parameters":{"content":"## ENVIA RELATORIO\n**ENVIA QUANTIDADE DE LEADS RECEBIDOS","height":416,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1232,1888],"typeVersion":1,"id":"1a20a482-44a8-4e85-bfe6-286814bac0b1","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJid.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1680],"id":"07ae97aa-3d86-4399-8598-79227fbf79eb","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1568],"id":"1ac4e063-963f-4a4a-9acf-9728aa9badee","name":"criar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,1568],"id":"a83b4a39-b591-4c5a-8065-e6b9502b3a2d","name":"buscar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"LEAD SALVO"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1424],"id":"acd0f82a-d388-4cbd-9e2c-93dd48036c5c","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE-SALINAS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $json.NUMERO }}\n⏰ DATA/HORA: {{ $json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,2096],"id":"f9817d2c-eb38-46d3-af13-d6bcd87967cc","name":"HTTP Request7","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS","lookupValue":"FALHA AO ENVIAR"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,2080],"id":"d2e979ec-f918-49f4-bbc1-7ced3b20b3a6","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,2080],"id":"6eff1135-56dc-4cbc-b04d-419b841f755a","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,2096],"id":"148424f6-6689-4f75-a548-da981c5c8230","name":"Wait","webhookId":"0591c228-e242-4a0a-9e76-84c95807e568"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,2096],"id":"34bef75b-cd1f-4866-ab49-7b768a4d2f65","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,2080],"id":"2a47202e-dd0e-4be5-b777-25c97d7c4016","name":"When clicking ‘Execute workflow’"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[464,1792],"id":"39141075-e291-4486-9f3d-10737e2d0f23","name":"Wait1","webhookId":"4c4ac267-9f00-4cb9-a630-68a22ab36df2"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE-SALINAS1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=teste de envio - reconectado"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,2464],"id":"56e94b3e-9cf9-4542-a6a0-a2224003a4ea","name":"HTTP Request8","retryOnFail":false,"waitBetweenTries":1000}],"connections":{"Webhook1":{"main":[[{"node":"msg propria2","type":"main","index":0}]]},"msg propria2":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}],[]]},"HTTP Request6":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Update row in sheet3":{"main":[[]]},"Update row in sheet4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"criar lead":{"main":[[{"node":"buscar lead","type":"main","index":0}]]},"buscar lead":{"main":[[{"node":"Switch4","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request7","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"buscar lead","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[23]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e25607e-f1d7-4b95-93ff-378c88621256","activeVersionId":"8e25607e-f1d7-4b95-93ff-378c88621256","triggerCount":2,"shared":[{"updatedAt":"2025-11-28T21:35:46.964Z","createdAt":"2025-11-28T21:35:46.964Z","role":"workflow:owner","workflowId":"jsOLZzrMSGPn64kA","projectId":"86fLtGJ4RKYxddia"}],"activeVersion":{"updatedAt":"2025-12-08T21:48:08.947Z","createdAt":"2025-12-08T21:48:08.947Z","versionId":"8e25607e-f1d7-4b95-93ff-378c88621256","workflowId":"jsOLZzrMSGPn64kA","nodes":[{"parameters":{"httpMethod":"POST","path":"LEAD20-OP-SALINAS","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1424,1360],"id":"5754af50-38b3-49d7-915e-5e88b843161a","name":"Webhook1","webhookId":"d57dadc6-62a2-49d5-a719-42f8e18d2c84"},{"parameters":{"content":"## CHECKLIST\nCHECAR WEBHOOK\nCHECAR ID GRUPO\nCHECAR NTFY","height":176,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-1232,1632],"typeVersion":1,"id":"94b40e06-4443-4be0-ba9b-bbef09ee52b6","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c213f252-cd88-41b1-a3ba-584cc094262a","leftValue":"={{ $('Webhook1').item.json.body.data.pushName }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sem nome"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"760361aa-224e-403f-80b8-00884bb9436c","leftValue":"={{ $json.body.data.key.remoteJidAlt }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJidAlt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8afd39ad-83f2-4545-a4c1-d77e594f264f","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"remoteJid"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-768,1488],"id":"0acac7c6-9bff-4950-93a5-ece1b4012585","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"739f9a84-d69e-4009-93c5-869c3a7a8092","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,1360],"id":"a1952f7b-1dd7-40b8-8c95-5878d0ea1576","name":"msg propria2"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJidAlt.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1504],"id":"95e03a36-ca7d-4719-9d6c-37ab52d7c942","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,1344],"id":"276fcefe-d00b-4eb8-a7af-dcdfc1f18751","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $('buscar lead').item.json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $('buscar lead').item.json.NUMERO }}\n⏰ DATA/HORA: {{ $('buscar lead').item.json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1408],"id":"cc5b957c-0c61-4fe2-90cf-f691f7027a48","name":"HTTP Request5","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/{{ $('Webhook1').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.NUMERO }}"},{"name":"text","value":"=Acabei de encaminhar seu contato para um dos nossos consultores! Em instantes ele entrará em contato com você."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,1424],"id":"f49f9f24-a56b-43fc-aaef-7d6b55234020","name":"HTTP Request6","retryOnFail":true,"waitBetweenTries":4000,"onError":"continueErrorOutput"},{"parameters":{"amount":"=1"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,1408],"id":"2c2c6b87-4c3d-40a0-a4e7-fd9cd1c19eaa","name":"Wait3","webhookId":"1e52089f-f012-4dd7-b266-c5ffc111e73c"},{"parameters":{"content":"## ENVIA DADOS AO GRUPO DE SUPORTE","height":1040,"width":3392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1264,1296],"typeVersion":1,"id":"926dbdab-4130-4fd0-9b3c-5b5b4cd95fb6","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,1712],"id":"1faa390c-cf02-49b1-b182-54bee87274ec","name":"No Operation, do nothing6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $('Edit Fields6').item.json.NUMERO }}","row_number":0,"BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1728,1408],"id":"7bed0b78-4beb-492a-b663-b644f7b6b8c2","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","row_number":0,"BOAS VINDAS":"FALHA AO ENVIAR"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,1632],"id":"dde1c297-d4e7-4d15-a3d0-e8a99b15b36b","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a4d295e-9ba8-412e-bb57-5e157595c8f6","name":"NUMERO","value":"={{ $('buscar lead').item.json.NUMERO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,1424],"id":"c7fa236e-1f26-4b3f-aeda-72125c33a8e4","name":"Edit Fields6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"074be921-161b-485b-80df-1c8e8511f2dd","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"NOVO LEAD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9bfcd8a1-ce81-4cd8-b786-d3560007ed7b","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"SIM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"JA FOI DIRECIONADO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b06466d1-d8ea-48db-99de-5779af9b1f18","leftValue":"={{ $json['BOAS VINDAS'] }}","rightValue":"LEAD SALVO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD JA SALVO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,1552],"id":"35c0a26f-8adf-43ab-95ad-d45e6c02badd","name":"Switch4"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5521975342163@s.whatsapp.net"},{"name":"text","value":"=📊 RELATÓRIO DIÁRIO – SALINAS\n\n📅 Data do relatório:\n{{ new Date().toLocaleDateString(\"pt-BR\") }}\n\n📈 Total de leads processados hoje:\n🔹 {{ $json.count_NUMERO }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,1968],"id":"4a1a4c55-936b-452a-9237-1c18cf16e46d","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,1984],"id":"af7d3e8a-9a0f-4f69-aed3-adb49009a781","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d47ecbe-b731-4d75-a5d0-04ec1f797bcb","leftValue":"={{ $json['DATA/HORA'].split(',')[0].trim() }}","rightValue":"={{ new Date().toLocaleDateString(\"pt-BR\") }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,1984],"id":"0d06caa7-df67-42f0-a799-bc73a1ceb8f0","name":"If"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"NUMERO"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-544,1968],"id":"2249ae6a-6859-4f8b-8a7c-4cc8d24b1f97","name":"Summarize"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,2128],"id":"2f854ec8-6390-4767-b348-445ad591b321","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":23,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1152,1984],"id":"65099230-3353-4720-8572-9344909f5707","name":"Schedule Trigger"},{"parameters":{"content":"## ENVIA RELATORIO\n**ENVIA QUANTIDADE DE LEADS RECEBIDOS","height":416,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1232,1888],"typeVersion":1,"id":"1a20a482-44a8-4e85-bfe6-286814bac0b1","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"021786a8-995a-46cc-80ac-46b7f8ccad16","name":"NUMERO","value":"={{ (() => { const n = $json.body.data.key.remoteJid.split('@')[0].replace(/\\D/g,''); return n.length === 12 ? n.slice(0,4) + '9' + n.slice(4) : n; })() }}","type":"string"},{"id":"20dad09c-09de-4cfc-be77-fb13bab8adae","name":"NOME","value":"={{ $('Webhook1').item.json.body.data.pushName }}","type":"string"},{"id":"edbdcbeb-20a4-43a2-90f2-4772710ad0b4","name":"DATA","value":"={{ new Date($('Webhook1').item.json.body.date_time).toLocaleString(\"pt-BR\") }}","type":"string"},{"id":"7794b6f8-ffa4-4a8e-9f25-4ae55f59b1dc","name":"MENSAGEM","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1680],"id":"07ae97aa-3d86-4399-8598-79227fbf79eb","name":"Edit Fields1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","NOME":"={{ $json.NOME }}","DATA/HORA":"={{ $json.DATA }}"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1568],"id":"1ac4e063-963f-4a4a-9acf-9728aa9badee","name":"criar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"NUMERO","lookupValue":"={{ $json.NUMERO }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,1568],"id":"a83b4a39-b591-4c5a-8065-e6b9502b3a2d","name":"buscar lead","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"LEAD SALVO"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,1424],"id":"acd0f82a-d388-4cbd-9e2c-93dd48036c5c","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE-SALINAS","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=👤 NOME: {{ $json.NOME }}\n📱 TELEFONE: https://wa.me/{{ $json.NUMERO }}\n⏰ DATA/HORA: {{ $json['DATA/HORA'] }}\n\nOBS: Respeite a sua vez para capturar o lead\n✔ msg entregue"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,2096],"id":"f9817d2c-eb38-46d3-af13-d6bcd87967cc","name":"HTTP Request7","retryOnFail":false,"waitBetweenTries":1000},{"parameters":{"documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"filtersUI":{"values":[{"lookupColumn":"BOAS VINDAS","lookupValue":"FALHA AO ENVIAR"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,2080],"id":"d2e979ec-f918-49f4-bbc1-7ced3b20b3a6","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,2080],"id":"6eff1135-56dc-4cbc-b04d-419b841f755a","name":"Loop Over Items"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,2096],"id":"148424f6-6689-4f75-a548-da981c5c8230","name":"Wait","webhookId":"0591c228-e242-4a0a-9e76-84c95807e568"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE","mode":"list","cachedResultName":"OP. LEAD 20 - MATHEUS - CONFORT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2115499048,"mode":"list","cachedResultName":"LEAD20-OPE-SALINAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OUKY-L2enullLOFedG4hIZkpzbu8NTblV4omv9JVZsE/edit#gid=2115499048"},"columns":{"mappingMode":"defineBelow","value":{"NUMERO":"={{ $json.NUMERO }}","BOAS VINDAS":"SIM"},"matchingColumns":["NUMERO"],"schema":[{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NUMERO","displayName":"NUMERO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LID","displayName":"LID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BOAS VINDAS","displayName":"BOAS VINDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1696,2096],"id":"34bef75b-cd1f-4866-ab49-7b768a4d2f65","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"9W9MbbOmOV6F5Huv","name":"N8N - SHEET"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,2080],"id":"2a47202e-dd0e-4be5-b777-25c97d7c4016","name":"When clicking ‘Execute workflow’"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[464,1792],"id":"39141075-e291-4486-9f3d-10737e2d0f23","name":"Wait1","webhookId":"4c4ac267-9f00-4cb9-a630-68a22ab36df2"},{"parameters":{"method":"POST","url":"=https://whatsapi.typebot.pro/message/sendText/LEAD20-OPE-SALINAS1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=b4d71f9c38e3ac12a6b08e4b6d53aa90"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=120363422534407098@g.us"},{"name":"text","value":"=teste de envio - reconectado"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,2464],"id":"56e94b3e-9cf9-4542-a6a0-a2224003a4ea","name":"HTTP Request8","retryOnFail":false,"waitBetweenTries":1000}],"connections":{"Webhook1":{"main":[[{"node":"msg propria2","type":"main","index":0}]]},"msg propria2":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"No Operation, do nothing5","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}],[]]},"HTTP Request6":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Update row in sheet3":{"main":[[]]},"Update row in sheet4":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"criar lead","type":"main","index":0}]]},"criar lead":{"main":[[{"node":"buscar lead","type":"main","index":0}]]},"buscar lead":{"main":[[{"node":"Switch4","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"HTTP Request7":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request7","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"buscar lead","type":"main","index":0}]]}},"authors":"jamil abrao sobrinho","name":null,"description":null},"tags":[]}